@import "btn.css";
@import "blog-container.css";
@import "blog-post.css";

body {
  text-align: center;
}

header {
  grid-area: header;
}

.post {
  grid-area: post;
}

.nav {
  display: flex;
  justify-content: space-around;
}

main {
  background-color: dimgrey;
  grid-area: main;
}

figcaption {
  color: slategray;
}

img {
  width: 200px;
  height: 200px;
}

/* If small enough */
@media(max-width:450px) {
  img {
    display: none;
  }

  figcaption { 
    opacity: 0; 
  }
}

@media(max-width:768px) {
  img {
    width: 100px;
    height: 100px;
  }
}


