.post {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  grid-gap: 10px;
}

.post p{
  color:#01151a;
  background-color: cadetblue;
}

.post h4{
  color:rgb(82, 82, 235);
}
